<div class="sidebar_wrap">
    <div class="sidebar_menu">
        <ul class="menu">
            <li>
                <a href="#">
                    <span class="name">Карта нефтебаз</span>
                    <span class="ico ico01"></span>
                </a>
                <ul>
                    <li><a href="#">Подменю 1</a></li>
                    <li><a href="#">Подменю 2</a></li>
                    <li><a href="#">Подменю 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="name">История цен</span>
                    <span class="ico ico02"></span>
                </a>
                <ul>
                    <li><a href="#">Подменю 1</a></li>
                    <li><a href="#">Подменю 2</a></li>
                    <li><a href="#">Подменю 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="sidebar_menu">
        <ul class="menu">
            <li>
                <a href="#">
                    <span class="name">Мой профиль</span>
                    <span class="ico ico03"></span>
                </a>
                <ul>
                    <li><a href="#">Подменю 1</a></li>
                    <li><a href="#">Подменю 2</a></li>
                    <li><a href="#">Подменю 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="name">Мои Компании</span>
                    <span class="ico ico04"></span>
                </a>
                <ul>
                    <li><a href="#">Подменю 1</a></li>
                    <li><a href="#">Подменю 2</a></li>
                    <li><a href="#">Подменю 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="name">Аналитика</span>
                    <span class="ico ico05"></span>
                </a>
                <ul>
                    <li><a href="#">Подменю 1</a></li>
                    <li><a href="#">Подменю 2</a></li>
                    <li><a href="#">Подменю 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="sidebar_menu">
        <ul class="menu">
            <li>
                <a href="#">
                    <span class="name">Карта нефтебаз</span>
                    <span class="ico ico01"></span>
                </a>
                <ul>
                    <li><a href="#">Подменю 1</a></li>
                    <li><a href="#">Подменю 2</a></li>
                    <li><a href="#">Подменю 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="name">История цен</span>
                    <span class="ico ico02"></span>
                </a>
                <ul>
                    <li><a href="#">Подменю 1</a></li>
                    <li><a href="#">Подменю 2</a></li>
                    <li><a href="#">Подменю 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="name">Мой профиль</span>
                    <span class="ico ico03"></span>
                </a>
                <ul>
                    <li><a href="#">Подменю 1</a></li>
                    <li><a href="#">Подменю 2</a></li>
                    <li><a href="#">Подменю 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="name">Мои Компании</span>
                    <span class="ico ico04"></span>
                </a>
                <ul>
                    <li><a href="#">Подменю 1</a></li>
                    <li><a href="#">Подменю 2</a></li>
                    <li><a href="#">Подменю 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="name">Аналитика</span>
                    <span class="ico ico05"></span>
                </a>
                <ul>
                    <li><a href="#">Подменю 1</a></li>
                    <li><a href="#">Подменю 2</a></li>
                    <li><a href="#">Подменю 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
